<%= image_tag "icons/about.png" %>
<h2 class="footer_title">ABOUT</h2>
<%= link_to 'icons by DryIcons.com', 'http://dryicons.com', :target => '_blank' %>
<p>theRailWorld is developed, designed, written by Phil McClure, a software developer from Bangor, Northern Ireland. Phil works for <a href="http://www.rehabstudio.com">rehabstudio.com</a> in Belfast.</p>
<p>The site covers the wide, outreaching, topic of computer science. However, as you may have noticed, it focuses on the wonder, which is, Ruby on Rails. Enjoy!</p>
<%= link_to image_tag("icons/linkedin.png"), "http://www.linkedin.com/in/philmcclure" %>
<%= image_tag "icons/facebook.png" %>
<%= image_tag "icons/rss.png" %>
